################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookshelfXchange/DesignTimeBuild/.dtbcache.v2
/.vs/BookshelfXchange/FileContentIndex/08ea56a3-3c4f-4827-9d73-811c300002f8.vsidx
/.vs/BookshelfXchange/FileContentIndex/11ec8b82-8474-4067-aea7-074e164dbbf5.vsidx
/.vs/BookshelfXchange/FileContentIndex/23cf98b1-b27f-444f-a3a6-194e94f11be0.vsidx
/.vs/BookshelfXchange/FileContentIndex/311633dc-f0f1-49f4-9bf0-affdc17ff79f.vsidx
/.vs/BookshelfXchange/FileContentIndex/3d646944-5f41-42c6-8642-9f29f85550b5.vsidx
/.vs/BookshelfXchange/FileContentIndex/46a6dfdd-f879-4bba-ac58-a1a20e3c89e0.vsidx
/.vs/BookshelfXchange/FileContentIndex/9e93186f-fae6-4d1d-9f38-198099a5a36e.vsidx
/.vs/BookshelfXchange/FileContentIndex/cfef3896-ccb9-4d7b-aca1-6a0a6d004f4d.vsidx
/.vs/BookshelfXchange/FileContentIndex/da6cc2c7-1a8c-4c69-926d-5a338d7bd35d.vsidx
/.vs/BookshelfXchange/FileContentIndex/e938f649-f1d8-42b1-a989-be2a013e2781.vsidx
/.vs/BookshelfXchange/FileContentIndex/376f9b35-4169-4630-aa4c-615c2d79e239.vsidx
/.vs/BookshelfXchange/v17/.futdcache.v2
/.vs/BookshelfXchange/v17/.suo
/.vs/BookshelfXchange/v17/DocumentLayout.json
/.vs/ProjectEvaluation/bookshelfxchange.metadata.v7.bin
/.vs/ProjectEvaluation/bookshelfxchange.projects.v7.bin
/bin/Debug/net8.0/AutoMapper.dll
/bin/Debug/net8.0/Blazorise.Bootstrap.dll
/bin/Debug/net8.0/Blazorise.dll
/bin/Debug/net8.0/Blazorise.Icons.FontAwesome.dll
/bin/Debug/net8.0/Blazorise.Licensing.dll
/bin/Debug/net8.0/BookshelfXchange.deps.json
/bin/Debug/net8.0/BookshelfXchange.dll
/bin/Debug/net8.0/BookshelfXchange.exe
/bin/Debug/net8.0/BookshelfXchange.pdb
/bin/Debug/net8.0/BookshelfXchange.staticwebassets.runtime.json
/bin/Debug/net8.0/DeepCloner.dll
/.vs/BookshelfXchange/FileContentIndex/31850ee8-0108-4ae6-ac31-2a9944ab07e5.vsidx
/obj/Debug/net8.0/ref/BookshelfXchange.dll
/obj/Debug/net8.0/refint/BookshelfXchange.dll
/obj/Debug/net8.0/staticwebassets/msbuild.BookshelfXchange.Microsoft.AspNetCore.StaticWebAssets.props
/obj/BookshelfXchange.csproj.nuget.dgspec.json
/obj/BookshelfXchange.csproj.nuget.g.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/BookshelfXchange.AssemblyInfo.cs
/obj/Debug/net8.0/BookshelfXchange.AssemblyInfoInputs.cache
/obj/Debug/net8.0/BookshelfXchange.assets.cache
/obj/Debug/net8.0/BookshelfXchange.csproj.AssemblyReference.cache
/obj/Debug/net8.0/BookshelfXchange.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/BookshelfXchange.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/BookshelfXchange.dll
/obj/Debug/net8.0/BookshelfXchange.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/BookshelfXchange.pdb
/obj/Debug/net8.0/BookshelfXchange.sourcelink.json
/obj/Debug/net8.0/project.razor.vs.bin
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.development.json
/obj/Debug/net8.0/staticwebassets.pack.json
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/BookshelfXchange/FileContentIndex/920c248d-9c46-4f0e-9cec-4b25972a0931.vsidx
/.vs/BookshelfXchange/FileContentIndex/59096f66-f25e-4fb8-9a97-56b28d8460a0.vsidx
*.vsidx
.vs
bin/Debug
obj
