@using MudBlazor
@inherits LayoutComponentBase

<BlazoredToasts />
<MudThemeProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <AuthorizeView>
            <div class="top-row px-4">
                <a style="color:mediumpurple" target="_blank">@context.User.Identity?.Name</a>
            </div>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

