@page "/book/create"
@rendermode InteractiveServer
@using BookshelfXchange.ViewModels.GET
@inject NavigationManager navigation
@inject IToastService toastService


<PageTitle>Add Book</PageTitle>
<head>
    <link href="styles/tableButtons.css" rel="stylesheet" />
    <link href="styles/formStyle.css" rel="stylesheet" />
    
</head>



<div class="row">
    <div class="col-12">
        <h1>Book Details</h1>
    </div>
</div>
<hr>
<BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" ShowProgressBar="true" IconType="IconType.FontAwesome" SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" />



<div class="row">
    <div class="col-md-6">
        <div style="margin: 40px;
    padding: 20px;
    width: 80%;
    background-color: rgba(197, 165, 244, 0.733);
    max-width: 700px;
    border-radius: 30px;">
            <EditForm method="post" Model="BookModel" FormName="addBook" OnValidSubmit="Create">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Book title</label>
                    <InputText @bind-Value="BookModel.Title" id="title" class="form-control" />
                    <ValidationMessage For="() => BookModel.Title" class="text-danger" />
                </div>
                <div class="form-group mb-3">
                    <label for="author" class="form-label">Book author</label>
                    <InputText @bind-Value="BookModel.Author" id="author" class="form-control" />
                    <ValidationMessage For="() => BookModel.Author" class="text-danger" />
                </div>
                <div class="form-group mb-3">
                    <label for="category" class="form-label">Book category</label>
                    <InputSelect id="category" @bind-Value="BookModel.CategoryId" class="form-control form-select">
                        @if(BookCategories is null)
                        {
                            <option selected value=""></option>
                        }
                        else
                        {
                            <option selected value="">Select Category</option>
                            @foreach(var category in BookCategories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => BookModel.CategoryId" class="text-danger" />
                </div>
                <div class="form-group text-left">
                    <button type="submit" class="btn-process" style=" background-color: rgb(49, 35, 61);
        border-radius: 10px;
        color: white;
        width: 30%;
        cursor: pointer;
        ">
                        Add
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>




