@using BookShelfXChange.Components.Account
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject NavigationManager RedirectManager
@layout Layout.CenteredCardLayout
@page "/sign-in"



@inject NavigationManager NavigationManager
@inject IToastService toastService

@using Blazored.Toast.Configuration;
@using Blazored.Toast.Services;


<PageTitle>BXC | Sign In</PageTitle>

<head>
    <link href="styles/tableButtons.css" rel="stylesheet" />
    <link href="styles/loadingButton.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .valid.modified:not([type=checkbox]) {
            outline: 1px solid purple;
        }
    </style>
    <script>
        // navigation.js
        function navigateToPage(url) {
            window.location.href = url;
        }
    </script>
</head>
<div class="container p-3">
    <BlazoredToasts Position="ToastPosition.TopRight" Timeout="15" ShowProgressBar="true" IconType="IconType.FontAwesome" SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" ErrorClass="err"/>

    <div>
        <EditForm Model="@Login" FormName="loginUser" OnValidSubmit="LoginUser">
            <DataAnnotationsValidator />            
            <div>
                <h3 style="font-weight:bold; color:purple">BookshelfXChange Sign In</h3>
            </div>
            <div>
                <br />
            </div>
            <div class="col-12 row">
                <InputText @bind-Value="Login.Email" id="email" class="form-control col-12" placeholder="email..." />
                <ValidationMessage For="@(() => Login.Email)" class="text-danger text-left" />
            </div>
            <br />
            <div class="col-12 row">
                <InputText type="password" class="form-control col-12" placeholder="Password..." @bind-Value="Login.Password" />
                <ValidationMessage For="@(() => Login.Password)" class="text-danger text-left" />
            </div>
            <br />
            <div class="col-12 row">
                <span class="col-12"></span>

                <button type="submit" class="form-control col-6 btn btn-process" disabled="@isProcessing">
                    Sign in
                    @if (isProcessing)
                    {
                        <span class="btn-ring"></span>
                    }
                </button>
                
                <a href="/sign-up" class="col-6" style="color:mediumpurple">Dont have an account?</a>
            </div>
        </EditForm>
    </div>
</div>






