@page "/book/create"
@rendermode InteractiveServer
@using BookshelfXchange.ViewModels.GET

@inject NavigationManager navigation
@inject IToastService toastService


<PageTitle>BXC | Create Book</PageTitle>
<head>
    <link href="styles/tableButtons.css" rel="stylesheet" />
    <link href="styles/formStyle.css" rel="stylesheet" />
    <link href="styles/loadingButton.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
</head>



<div class="row">
    <div class="col-12">
        <h1>Book Details</h1>
    </div>
</div>
<hr>
<BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" ShowProgressBar="true" IconType="IconType.FontAwesome" SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" />



<EditForm method="post" Model="BookModel" FormName="addBook" OnValidSubmit="Create" class="col-md-6" style="margin-left: auto;
  margin-right: auto;">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group mb-3">
        <label for="title" class="form-label">Book title</label>
        <InputText @bind-Value="BookModel.Title" id="title" class="form-control" />
        <ValidationMessage For="() => BookModel.Title" class="text-danger" />
    </div>
    <div class="form-group mb-3">
        <label for="author" class="form-label">Book author</label>
        <InputText @bind-Value="BookModel.Author" id="author" class="form-control" />
        <ValidationMessage For="() => BookModel.Author" class="text-danger" />
    </div>
    <div class="form-group mb-3">
        <label for="category" class="form-label">Book category</label>
        <InputSelect id="category" @bind-Value="BookModel.CategoryId" class="form-control form-select">
            @if (BookCategories is null)
            {
                <option selected value=""></option>
            }
            else
            {
                <option selected value="">Select Category</option>
                @foreach (var category in BookCategories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </InputSelect>
        <ValidationMessage For="() => BookModel.CategoryId" class="text-danger" />
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn-process" disabled="@isProcessing">
            Add
            @if (isProcessing)
            {
                <span class="btn-ring"></span>
            }
        </button>
    </div>
</EditForm>





